main > .container {
  padding: 80px 15px 0;
  margin-top: 15px;
  padding-left:40px;
}

.question {
    border: 1px black solid;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tags {
  font-weight: bold;
}
.question img {
  width: 120px;px;
}
.user-info {
  color:white;
}
.user-info img {
  width:50px;
}
.profile-img {
  width:60px;
  margin-left:25px;
  border-radius:10px;
}
.account {
  color:white;
}
.name-account {
  padding-left: 8px;
}
.account-set {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 2px;
  padding-top: 2px;
}
.col-1 {
  padding-left: 8px;
  padding-bottom: 1px;
}
.header {
  width: 100%;
}
.account {
  padding-left: 3px;
  font-size: 1.2rem;
  padding-bottom: 0px;
}
.search-bar {
  padding-left:0px;
  margin-left:0px;
}
.badge {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}
.red {
  color: #fff;
  text-decoration: none;
  background-color: #dc3545;
}
.blue {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
  padding-right: .6em;
padding-left: .6em;
border-radius: 10rem;
}
.yellow {
  color: #212529;
  text-decoration: none;
  background-color: #fabd08;
}
.green {
  color: #fff;
  text-decoration: none;
  background-color: #28a745;
}
.black {
  color: #fff;
  text-decoration: none;
  background-color: #000000;
}
.btn-like {
	margin-bottom: 6px;
	font-size: 20px;
	width: 35px;
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.like {
	color: green;
	font-size: 18px;
	line-height: normal;
}

/* base.html */
.head-size {
  font-size: 30px;
	font-family: monospace;
	line-height: 98%;
	font-style: italic;
}
.color-head {
  color:rgb(4, 248, 78);
	height: 80px;
}
.label-askme {
  font-size: 1.5rem;
  padding-left: 20px;
  padding-top: 15px;
}
.myform {
  margin-top: 10px;
  padding-top: 10px;
}
.btn-primary {
  width:150px;
}
.active-people {
  margin-top: 30px;
}
