main > .container {
  padding: 80px 15px 0;
  margin-top: 15px;
  padding-left:40px;
}

.question {
    border: 1px black solid;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
}
.tags {
  font-weight: bold;
}
.question img {
  width: 120px;
}
.user-info {
  color:white;
}
.user-info img {
  width:50px;
}
.profile-img {
  width:60px;
  margin-left:25px;
  border-radius:10px;
}
.account {
  color:white;
}
.name-account {
  padding-left: 8px;
}
.account-set {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 2px;
  padding-top: 2px;
}
.col-1 {
  padding-left: 8px;
  padding-bottom: 1px;
}
.header {
  width: 100%;
}
.account {
  padding-left: 3px;
  font-size: 1.2rem;
  padding-bottom: 0px;
}
.search-bar {
  padding-left:0px;
  margin-left:0px;
}
.badge {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}
.red {
  color: #fff;
  text-decoration: none;
  background-color: #dc3545;
}
.blue {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
  padding-right: .6em;
padding-left: .6em;
border-radius: 10rem;
}
.yellow {
  color: #212529;
  text-decoration: none;
  background-color: #fabd08;
}
.green {
  color: #fff;
  text-decoration: none;
  background-color: #28a745;
}
.black {
  color: #fff;
  text-decoration: none;
  background-color: #000000;
}
.btn-like {
	margin-bottom: 6px;
	font-size: 20px;
	width: 35px;
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.like {
	color: green;
	font-size: 18px;
	line-height: normal;
}
.form-like {
  margin-top:20px;
  width:120%;
}

/* base.html */
.head-size {
  font-size: 30px;
	font-family: monospace;
	line-height: 98%;
	font-style: italic;
}
.color-head {
  color:rgb(4, 248, 78);
	height: 80px;
}
.label-askme {
  font-size: 1.5rem;
  padding-left: 20px;
  padding-top: 15px;
}
.myform {
  margin-top: 10px;
  padding-top: 10px;
}
.btn-primary {
  width:150px;
}
.active-people {
  margin-top: 30px;
}
.bg-dark {
  border-bottom-color: #23f423;
  border-bottom-style: groove;
  border-bottom-width: 6px;
}
.right-border {
  border-right-color: #23f423;;
  border-right-style: groove;
  border-right-width: 6px;
  padding-right: 0px;
}
.bottom-border {
  border-bottom-color: #23f423;;
  border-bottom-style: groove;
  border-bottom-width: 6px;
  width:102%;
}
.top-border {
  border-top-color: #23f423;;
  border-top-style: groove;
  border-top-width: 6px;
}
.head-body {
padding-top: 10px;
padding-left: 30%;
margin-left: -22%;
margin-top: -12px;
margin-right: -5px;
margin-bottom: 30px;
color: rgb(0.10,0.10,1.00);
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 

}
.my-font {
  font-family: "Arial Black", Gadget, sans-serif;
font-size: 40px;
letter-spacing: 0px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
}
.inline {
  display:inline;
}
/* question.html */
.main-question img {
  width:120px;
}
.main-question {
  margin-bottom:30px;
}
.tags {
  margin-top:20px;
}
.form-check {
  display: block;
  margin-top:20px;
}
.correct-check {
  width: 25px;
  height: 25px;
}
.correct-style {
  font-size: large;
  margin-top: 4px;
  margin-left: 4px;
}
textarea.form-control {
  height:auto;
}
.form-ans {
  margin-top:20px;
  margin-right: 0px;
  margin-left: -25px;
}
.btn-answer {
  margin-top:20px;
}
.form-control {
  margin-top:20px;
}

/* question.html */
.new-question {
  padding-right:20px;
}
/* signup.html */
.error-signup {
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: Red;
    font-size: 14px;
}
.signup-size {
  width:50%;
}
.login-in {
  padding-top: 25px;
  color:#23f423;
}
.login-in:active {
  color:red;
}
/* login.html */
.new-acc {
  padding-bottom:20px;
  padding-left:0px;
}