{% load static %}
<div class='col-1'>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
            <img src="{% static "img/200.png" %}" class="profile-img" alt=""/>
        </li>
    </ul>
</div>
<div class='col-2'>
    <div class="container account">
        <div class="row name-account">
            <div>Хомяк</div>
            <div class="row">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link account-set" href="{% url "settings" %}">настройки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link account-set" href="#">выйти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
