{% load static %}
<div class='col-1'>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
        </li>
    </ul>
</div>
<div class='col-2'>
    <div class="container account">
        <div class="row name-account">
            <div class="row">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link login-in" href="#">войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login-in" href="#">зарегистрироваться</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>


