{#{% if is_paginated %}#}
<nav aria-label="Questions pagination">
    <ul class="pagination">
        <li class="page-item {% if not prev_url %}disabled{% endif %}">
            <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                <span class="sr-only">Назад</span>
            </a>
        </li>
        {% if page_object.has_previous %}
            {% if page_object.number|add:'-1' >= 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">1</a>
                </li>
            {% endif %}
            {% if page_object.number|add:'-1' > 3 %}
                <li class="page-dot">
                    <a class="page-link" href="?page={{ page_object.previous_page_number|add:'-2' }}">
                        • • •
                    </a>
                </li>
            {% endif %}
        {% endif %}

        {% for n in page_object.paginator.page_range %}
            {% if n == page_object.number %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ n }}">{{ n }}
                        <span class="sr-only"></span></a>
                </li>
            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 and n != 1 and n != page_object.paginator.num_pages %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_object.has_next %}
            {% if page_object.number|add:3 < page_object.paginator.num_pages %}
                <li class="page-dot">
                    <a class="page-link" href="?page={{ page_object.next_page_number|add:'2' }}">
                        • • •
                    </a>
                </li>
            {% endif %}
            {% if page_object.number|add:'1' <= page_object.paginator.num_pages %}
                <li class="page-num">
                    <a class="page-link" href="?page={{ page_object.paginator.num_pages }}">
                        {{ page_object.paginator.num_pages }}
                    </a>
                </li>
            {% endif %}
        {% endif %}

        <li class="page-item {% if not prev_url %}disabled{% endif %}">
            <a class="page-link" href="{{ next_url }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
{#{% endif %}#}