{% if is_paginated %}
    <nav aria-label="Questions pagination">
        <ul class="pagination">

            <li class="page-item {% if not prev_url %}disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                    <span class="sr-only">Назад</span>
                </a>
            </li>

            {% for n in page_object.paginator.page_range %}
                {% if n == page_object.number %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ n }}">{{ n }}
                            <span class="sr-only"></span></a>
                    </li>
                {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not prev_url %}disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}