{% load static %}
<div class="row question {% if one_question %} bottom-border answer-shift{% endif %}">
    <div class="col-3">
        <img src="{% static "img/200.png" %}"/>
        <form class="form-like">
            <button class="btn btn-light btn-like"> +</button>
            <span class="like">
                {% if question.rating == None %}
                    0
                {% else %}
                    {{ question.rating }}
                {% endif %}
            </span>
            <button class="btn btn-light btn-like"> -</button>
        </form>
    </div>
    <div class="col-9">
        <a href="{% url "one_question" question_id=question.id %}" class="question-title">
            <h2>{{ question.title }}</h2>
        </a>
        <div class="question-text">
            {% if answers %}
                {{ question.text }}
            {% else %}
                {{ question.text | truncatechars:200 }}
            {% endif %}
        </div>
        <div class='tags'>
            <b>Теги:</b>
            {% for tag in question.tags.all %}
                {% include "include/question_tags.html" %}
            {% endfor %}
        </div>
        <span class="answers">
                    <a class='btn btn-outline-primary btn-sm mt-2'
                       href='{% url "one_question" question_id=question.id %}'>
                        <b><i>Ответов( {% if question.answers %}{{ question.answers }} {% else %}
                            {{ 0 }} {% endif %})</i></b></a>
                </span>
    </div>
</div>
