{% load my_filters %}
{% block side %}
    <div class="col-4">
        <div>
            <h1>Популярные теги</h1>
            {% for tag in popular_tags %}
                {% if forloop.counter0|is_newline == True %}
                    <div class='row'> {% endif %}
            <div class='col-4'>
                {% if forloop.counter0|is_newcol_zero %}
                    <a class='badge yellow' href="{% url "tag" tag=tag %}">{{ tag }}</a>
                {% elif forloop.counter0|is_newcol_one %}
                    <a class='badge red' href="{% url "tag" tag=tag%}">{{ tag }}</a>
                {% elif forloop.counter0|is_newcol_two %}
                    <a class='badge blue' href="{% url "tag" tag=tag %}">{{ tag }}</a>
                    </div>
                {% endif %}
            </div>
            {% empty %}
                <div class='col-4'><a class='badge blue' href="#"></a></div>
            {% endfor %}
            <div>
                <h1>Активные участники</h1>
                {% for user in users %}
                    <div class='row'>
                        <a href="#" class=>{{ user.user }}</a>
                    </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock side %}