{% include "include/base.html" %}
{% load static %}
{% block after-header %}
    <div class="row">
        <div class="col-4">
            <p class="h4">{{ category }}</p>
        </div>
        <div class="col-4">
            {% if redirect_new %}
                <a href="{% url "base" %}">
            {% else %}
                <a href="{% url "hot" %}">
            {% endif %}
            {{ forward_category }}
            </a>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% for question in questions %}
        {% include "include/question.html" %}
    {% endfor %}
    {% include "include/pagination.html" %}
{% endblock content %}
{% block side %}
    {% include "include/sidebar.html" %}
{% endblock side %}