{% extends "include/base.html" %}
{% load static %}
{% block title-browser %}
    Вопросы
{% endblock title-browser %}
{% block page-title %}
    Вопросы
{% endblock %}
{% block after-header %}
    <div class="row">
        <div class="col-4">
            <p class="h4">{{ category }}</p>
        </div>
        <div class="col-4">
            {% if redirect_new %}
                <a href="{% url "new" %}">
            {% else %}
                <a href="{% url "hot" %}">
            {% endif %}
            {{ forward_category }}
            </a>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% for question in page_object.object_list %}
        {% include "include/question.html" %}
    {% endfor %}
    {% include "include/pagination.html" %}

{% endblock content %}
{% block jscode %}
    <script src="{% static "js/vote.js" %}"></script>
{% endblock jscode %}
{% block side %}
    {% include "include/sidebar.html" %}
{% endblock side %}
