{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block title-browser %}
    Авторизация
{% endblock title-browser %}
{% block page-title %}
    Авторизация
{% endblock %}
{% block content %}
    <form class="signup-size" action="/login/" method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <span><a class='nav-link new-acc' href="{% url "signup" %}">Создать аккаунт</a></span>
        {% buttons %}
            <button type="submit" class="btn btn-primary">Войти</button>
        {% endbuttons %}
    </form>
{% endblock content %}

{% block header-navbar %}
    {% include "include/navbar_unauthorized.html" %}
{% endblock header-navbar %}
