{% extends "include/base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block title-browser %}
    {{ question.title }}
{% endblock title-browser %}
{% block page-title %}
    {{ question.title }}
{% endblock page-title %}
{% block content %}
    {% include "include/question.html" %}
    {% for answer in page_object.object_list %}
        {% include "include/answer.html" %}
    {% endfor %}
    {% include "include/pagination.html" %}

    <div class='row form-ans top-border'>
        <form id="new-answer" class="enter-answer" action="/question/{{ question.id }}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
{#            <div class="mb-3">#}
{#                            <textarea class="form-control form-control-lg" id="TextForm" placeholder="Введите ваш ответ"#}
{#                                      rows="4"></textarea>#}
                <button class="btn btn-outline-primary btn-answer" type="submit">Отправить</button>
{#            </div>#}
        </form>
    </div>
{% endblock content %}

