{% extends "include/base.html" %}
{% block page-title %}
    {{ question.title }}
{% endblock page-title %}
{% block content %}
    {% include "include/question.html" %}
    {% for answer in answers %}
        {% include "include/answer.html" %}
    {% endfor %}
    <div class='row form-ans top-border'>
        <form id="new-answer" class="enter-answer">
            <div class="mb-3">
                            <textarea class="form-control form-control-lg" id="TextForm" placeholder="Введите ваш ответ"
                                      rows="4"></textarea>
                <button class="btn btn-outline-primary btn-answer" type="submit">Отправить</button>
            </div>
        </form>
    </div>
{% endblock content %}

