{% extends "include/base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block title-browser %}
    Регистрация
{% endblock title-browser %}
{% block page-title %}
    Регистрация
{% endblock page-title %}
{% block content %}
    {#    <h3 class="error-signup"> Уже существует пользователь с данным логином </h3>#}
    <form class="signup-size" method="post" action="/signup/">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}